<h2>Create Variable of Data Type
i)	string

(ii)	list

(iii)	float

(iv)	tuple
</h2>

In [1]:
## String Data Type
a = "Divya"
type(a)

str

In [2]:
## List Data Type
a= ["Divya",1,2,"a+b"]
type(a)

list

In [3]:
##float Data Type
a= 1.2
type(a)

float

In [4]:
#tuple data type
a=(1,2,3,"Divya")
type(a)

tuple

<h2>Q2. Given are some following variables containing data:

(i)	var1 = ‘ ‘

(ii)	var2 = ‘[ DS , ML , Python]’

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)	var4 = 1.


What will be the data type of the above given variable.
    </h2>

In [5]:
var1 = ''
type(var1)

str

In [7]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [9]:
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

list

In [11]:
var4 = 1.
type(var4)

float

<h2>3. Explain the use of the following operators using an example:

(i)	/

(ii)	% 

(iii)	//

(iv)	**
</h2>

In [12]:
##Division Operator: Gives value with decimal
5/2

2.5

In [13]:
#Mod Operator: Gives remainder 
5%2

1

In [14]:
#//: Gives Upper floor value and decimal part is removed
5//2

2

In [15]:
#**: Power Operator: Gives POwer value
5**2

25

<h2>Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type.
    </h2>

In [23]:
a= ["1", "2", 1, 2, 3, "Divya", 5.7,"a+b","9", 5+6j]
length = len(a)
print("Length of List", length)
for i in a:
    print("Value: ", i, " Type: ", type(i))

Length of List 10
Value:  1  Type:  <class 'str'>
Value:  2  Type:  <class 'str'>
Value:  1  Type:  <class 'int'>
Value:  2  Type:  <class 'int'>
Value:  3  Type:  <class 'int'>
Value:  Divya  Type:  <class 'str'>
Value:  5.7  Type:  <class 'float'>
Value:  a+b  Type:  <class 'str'>
Value:  9  Type:  <class 'str'>
Value:  (5+6j)  Type:  <class 'complex'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible.

In [33]:
a= int(input("Enter a number1:"))
b= int(input("Enter a number2:"))
remainder = a
Count=0

while remainder>=b:
    remainder= remainder-b
    Count = Count+1
    if remainder==0:
        print("Remainder is Zero. So {} is purely divisble by {}. Divisible Times: {}".format(a,b,Count))
        break
    elif remainder<b:
        print("{} is not purely Divisible by {}. And is divisible only {} times".format(a,b,Count))

Enter a number1: 5
Enter a number2: 2

5 is not purely Divisible by 2. And is divisible only 2 times

<h2>Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not.</h2>

In [37]:
a = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in a:
    if ( i%3==0):
        print("Element: {} is divisible by 3". format(i))
    else:
        print("Element: {} is Not divisible by 3". format(i))

Element: 1 is Not divisible by 3
Element: 2 is Not divisible by 3
Element: 3 is divisible by 3
Element: 4 is Not divisible by 3
Element: 5 is Not divisible by 3
Element: 6 is divisible by 3
Element: 7 is Not divisible by 3
Element: 8 is Not divisible by 3
Element: 9 is divisible by 3
Element: 10 is Not divisible by 3
Element: 11 is Not divisible by 3
Element: 12 is divisible by 3
Element: 13 is Not divisible by 3
Element: 14 is Not divisible by 3
Element: 15 is divisible by 3
Element: 16 is Not divisible by 3
Element: 17 is Not divisible by 3
Element: 18 is divisible by 3
Element: 19 is Not divisible by 3
Element: 20 is Not divisible by 3
Element: 21 is divisible by 3
Element: 22 is Not divisible by 3
Element: 23 is Not divisible by 3
Element: 24 is divisible by 3
Element: 25 is Not divisible by 3

<h2>Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property

Mutable Objects:
Objects which can be modified. 
List, Dictionary, Sets

Immutable:
Objects which cannot be modified.
String, Tuple, Numbers
    </h2>

In [38]:
a="Divya"
type(a)

str

In [39]:
a[0]

'D'

TypeError: 'str' object does not support item assignment